@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

body {
    background-color: #161616;
    font-family: 'Poppins', sans-serif;
}

header nav {
    padding: 1.4rem;
}

header nav ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

header nav ul a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

header nav ul .user_container {
    display: flex;
    align-items: center;
    gap: .6rem;
    color: #fff;
    font-weight: 300;
    font-size: .8rem;
}

header nav ul .user_container .user_image {
    height: 2rem;
    width: 2rem;
    border-radius: .5rem;
    background-color: #ddd;
    border: 2px solid;
    background-size: cover;
    background-position: 50%;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0 1.4rem 2rem;
}

main .container {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    background-color: rgba(58, 58, 58, 0.2);
}

main .container article .icon_container {
    height: 3.5rem;
    width: 2rem;
    border-top: 2px solid transparent;
}

main .container article .icon_container:hover {
    border-top: 2px solid #FEE27D;
    transition: .3s;
    cursor: pointer;
}

main .container article .icon_container:hover .background_icon {
    background-color: rgba(81, 81, 81, 0.4);
}

main .container article .icon_container:hover .background_icon svg {
    color: #FEE27D;
}

main .container article .icon_container-active {
    border-top: 2px solid #FEE27D;
}

main .container article .background_icon {
    height: 2rem;
    width: 2rem;
    border-radius: .3rem;
}

main .container article .background_icon i {
    font-size: 1rem;
    color: #fff;
}

.active {
    background-color: rgba(81, 81, 81, 0.4);
}

.main .container_movie {
    margin-top: 1rem;
    width: 100%;
    height: 29.8rem;
    border-radius: .8rem;
    background-color: rgba(58, 58, 58, 0.2);
    padding: .7rem;
}

.container_navbar svg {
    color: #fff;
    font-size: 0.8rem;
}

.filter_container {
    flex-wrap: wrap;
    color: #fff;
    row-gap: .4rem;
}

.filter {
    padding: .6rem;
    border-radius: .7rem;
    font-size: 0.7rem;
    background-color: rgba(81, 81, 81, 0.4);
}

.filter:hover {
    background-color: #FEE27D;
    color: #161616;
    transition: .3s;
}

.filter_active {
    background-color: #FEE27D;
    color: #161616;
}

.input_container {
    background-color: rgba(81, 81, 81, 0.4);
    border-radius: .7rem;
    font-size: 0.7rem;
    padding: .6rem;
}

.input_container input {
    width: 9rem;
    border: 0;
    outline: 0;
    background-color: transparent;
    padding-left: 0.4rem;
    color: #fff;
}

.banner_container {
    margin-top: 1rem;
    height: 13rem;
    background-size: cover;
    background-position: 50%;
    border-radius: .7rem;
    padding: .5rem;
    position: relative;
}

.banner_container-detail {
    margin-top: 0;
    height: 19.5rem;
}

.banner_desc {
    color: #fff;
    font-weight: 300;
}

.banner_desc h4 {
    font-weight: bold;
    font-size: 0.8rem;
}

.banner_movie-desc {
    width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.7rem;
}

.banner_features {
    font-size: 0.6rem;
    gap: 0.5rem;
}

.banner_icon-container {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    bottom: .5rem;
    right: .8rem;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.569);
}

.banner_icon-container:hover {
    background-color: rgba(255, 255, 255, 0.569);
    transition: .3s;
}

.banner_icon-container:hover .banner_icon-play {
    color: #161616;
    transition: .3s;
}

.banner_icon-play {
    font-size: .8rem;
    color: #fff;
}

.title_cards {
    margin-top: 0.8rem;
}

.title_cards h4 {
    font-size: .85rem;
    color: #fff;
}

.title_cards svg {
    font-size: 1rem;
    color: #FEE27D;
}

.title_cards p {
    color: #FEE27D;
    font-size: 0.7rem;
}

.card_container {
    position: relative;
    text-decoration: none;
}

.icon_fav {
    position: absolute;
    color: #FEE27D;
    top: 1rem;
    right: 1rem;
    font-size: 1.3rem;
}

.cards {
    margin-top: .5rem;
    overflow-x: scroll;
    gap: 1rem;
    scroll-snap-type: x mandatory;
}

.cards.flex-wrap {
    overflow-y: scroll;
    max-height: 7rem;
    scroll-snap-type: y mandatory;
}

.card_full {
    width: 10rem;
    height: 5rem;
    border-radius: .8rem;
    scroll-snap-align: start;
    background-size: cover;
}

.card_features {
    margin-top: 0.5rem;
}

.card_features h5 {
    width: 6rem;
    color: #fff;
    font-size: 0.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.7rem;
}

.card_features .star {
    color: #5b5b5b;
    font-weight: bold;
    font-size: 0.7rem;
    gap: 0.3rem;
}

.card_features .star_icon {
    color: #FEE27D;
}

.message_empty {
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.cards.flex-wrap.cards_favorite {
    max-height: 21.2rem;
}

.container_badge {
    height: .9rem;
    width: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 100%;
    background-color: #EE332C;
    font-size: 0.8rem;
    top: 5.6rem;
    margin-left: 0.9rem;
}

.input_favorites {
    width: 100%;
}

.login_container {
    margin-top: 1.5rem;
}

.login_container h1 {
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1.2rem;
}

.form_container label {
    color: #fff;
}

.form_container button {
    background-color: #FEE27D;
    border: 2px solid transparent;
    color: #161616;
}

.form_container button:hover {
    background-color: transparent;
    border: 2px solid #FEE27D;
    color: #FEE27D;
}

.logout_container {
    margin-top: 1.8rem;
}

.logout_image {
    height: 12rem;
    width: 12rem;
    background-color: #ddd;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-size: cover;
    background-position: 50%;
}

.logout_container h2 {
    color: #fff;
}

.button_container {
    width: 12rem;
    margin: 0 auto;
}

.button_container button {
    padding: .8rem;
    border-radius: .3rem;
    transition: .15s;
}

.edit_button {
    background-color: transparent;
    color: #FEE27D;
    border: 2px solid #FEE27D;
}

.edit_button:hover {
    background-color: #FEE27D;
    color: #161616;
    border: 2px solid transparent;
}

.logout_button {
    background-color: #FEE27D;
    color: #161616;
    border: 2px solid transparent;
}

.logout_button:hover {
    background-color: transparent;
    color: #FEE27D;
    border: 2px solid #FEE27D;
}

.button_light-edit {
    background-color: transparent;
    color: #EE332C;
    border: 2px solid #EE332C;
}

.button_light-edit:hover {
    background-color: #EE332C;
    color: #fff;
}

.button_light-logout {
    background-color: #EE332C;
    color: #fff;
    border: 2px solid transparent;
}

.button_light-logout:hover {
    background-color: transparent;
    color: #EE332C;
    border: 2px solid #EE332C;
}

.swal-popup-custom {
    background-color: #fff;
    color: #161616;
}

.swal-popup-custom .swal-confirm-button {
    background-color: #EE332C;
    color: #fff;
    border: 2px solid transparent;
    transition: .3s;
}

.swal2-actions .swal-confirm-button-light {
    background-color: #FEE27D;
    color: #161616;
    border: 2px solid #FEE27D;
    transition: .3s;
}

.swal2-actions .swal-confirm-button-light:hover {
    background-color: transparent;
    color: #FEE27D;
}

.swal2-actions .swal-cancel-button-light {
    background-color: transparent;
    color: #FEE27D;
    border: 2px solid #FEE27D;
    transition: .3s;
}

.swal2-actions .swal-cancel-button-light:hover {
    background-color: #FEE27D;
    color: #161616
}

.swal-confirm-button:hover {
    background-color: #fff;
    border: 2px solid #EE332C;
    color: #EE332C;
}

.form_container .submit_light {
    background-color: #EE332C;
    color: #fff;
    border: 2px solid transparent;
}

.form_container .submit_light:hover {
    background-color: transparent;
    color: #EE332C;
    border: 2px solid #EE332C;
}

.swal2-container .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
    background-image: none;
}

.swal-popup-custom .swal-cancel-button {
    background-color: transparent;
    color: #EE332C;
    border: 2px solid #EE332C;
    transition: .3s;
}

.swal-popup-custom .swal-cancel-button:hover {
    background-color: #EE332C;
    color: #fff;
}

.swal-popup-light {
    background-color: #161616;
    color: #fff;
}

.main_error {
    height: 80vh;
}

.pacman_text {
    width: 75%;
    margin: 0 auto;
    color: #fff;
}

.fav_empty {
    margin-top: 8rem;
}

.main .themeLight {
    background-color: #fff;
}

.filterLight {
    background-color: rgba(0, 0, 0, .9);
}

.filter_active-light {
    background-color: #EE332C;
    color: #fff;
}

.filterLight:hover {
    background-color: #EE332C;
    color: #fff;
}

.main .container article .icon_container-active-light {
    border-left: 2px solid #161616;
}

@media (min-width: 767px) {
    header nav {
        padding: 2rem;
    }

    header nav ul a {
        font-size: 1.1rem;
    }

    header nav ul .user_container {
        gap: 1rem;
        font-size: .9rem;
    }

    header nav ul .user_container .user_image {
        height: 2.5rem;
        width: 2.5rem;
    }

    .main {
        padding: 0 2rem 2.5rem;
    }

    .container_navbar article {
        padding: 0 .8rem;
    }

    .container_navbar svg {
        font-size: 1rem;
    }

    .main .container_movie {
        height: 40rem;
        margin-top: 1.4rem;
        border-radius: 2.2rem;
    }

    .filter_container {
        padding: .8rem;
    }

    .filter {
        padding: .8rem 1.1rem;
        font-size: 0.8rem;
    }

    .input_container {
        background-color: rgba(81, 81, 81, 0.4);
        border-radius: .7rem;
        font-size: 0.8rem;
        padding: .6rem;
    }

    .input_container input {
        width: 9rem;
        border: 0;
        outline: 0;
        background-color: transparent;
        padding-left: 0.4rem;
        color: #fff;
    }

    .input_favorites {
        padding: 1rem;
    }

    .container_banner-movie {
        padding: 0 .8rem;
    }

    .banner_container {
        height: 22.5rem;
        padding: 1rem;
    }

    .icon_fav {
        font-size: 2rem;
    }

    .container_badge {
        height: 1.1rem;
        width: 1.1rem;
        top: 7rem;
    }

    .banner_container-detail {
        margin-top: 0.8rem;
        height: 27rem;
    }

    .banner_desc h4 {
        font-size: 1rem;
    }

    .banner_movie-desc {
        width: 32rem;
        overflow: visible;
        white-space: normal;
        font-size: 0.7rem;
    }

    .banner_features {
        font-size: 0.7rem;
    }

    .banner_icon-container {
        width: 2rem;
        height: 2rem;
        bottom: 1rem;
        right: 1rem;
    }

    .banner_icon-play {
        font-size: 1rem;
    }

    .title_cards {
        padding: 0 .8rem;
    }

    .cards {
        margin-top: .5rem;
        max-height: 8rem;
        padding: 0 .8rem;
    }

    .cards.flex-wrap {
        max-height: 8rem;
    }

    .card_full {
        width: 12rem;
        height: 6rem;
    }

    .cards.flex-wrap.cards_favorite {
        max-height: 31.2rem;
    }

    .login_container {
        margin-top: 5.5rem;
    }

    .form_container {
        width: 60%;
    }

    .login_container h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .logout_container {
        margin-top: 1.8rem;
    }

    .logout_image {
        height: 20rem;
        width: 20rem;
    }

    .button_container {
        width: 20rem;
    }

    .edit_button {
        padding: .9rem;
    }

    .logout_button {
        padding: .9rem;
    }

    .fav_empty {
        margin-top: 13rem;
    }
}

@media (min-width:988px) {
    header nav ul a {
        font-size: 1.2rem;
    }

    .main {
        flex-direction: row;
        gap: 2rem;
    }

    .main .container_movie {
        margin-top: 0;
        height: 49.2rem;
        border-radius: 2.2rem;
    }

    main .container_navbar {
        width: 7rem;
        margin-bottom: 0;
        padding: 0;
    }

    main .container_navbar article {
        height: 93%;
        padding: 0;
    }

    main .container article .icon_container {
        margin-top: 1.2rem;
        width: 100%;
        height: 3.5rem;
        border-left: 2px solid transparent;
        border-top: 0;
        display: flex;
        justify-content: center;
    }


    main .container article .icon_container-active {
        border-top: 0;
        border-left: 2px solid #FEE27D;
    }

    .border_icons {
        width: 100%;
    }

    .icon_fav {
        cursor: pointer;
    }

    .container_badge {
        top: 15.2rem;
    }

    main .container article .icon_container:hover {
        border-top: 0;
        border-left: 2px solid #FEE27D;
        transition: .3s;
        cursor: pointer;
    }

    main .container_navbar article .hover_light:hover {
        border-left: 2px solid #161616;
    }

    .filter_container {
        margin-top: 1.1rem;
        padding: .8rem 2rem;
    }

    .filter {
        padding: .8rem 2rem;
        border-radius: 1rem;
        cursor: pointer;
    }

    .input_container {
        padding-left: .8rem;
    }

    .input_container input {
        width: 18rem;
    }

    .container_banner-movie {
        margin-top: 1.5rem;
        padding: 0 1.9rem;
    }

    .banner_container {
        margin-top: 1.75rem;
        height: 24rem;
        padding: 1.8rem;
        border-radius: 1rem;
    }

    .banner_container-detail {
        margin-top: 0rem;
        height: 29.7rem;
    }

    .banner_desc h4 {
        font-size: 1.4rem;
    }

    .banner_movie-desc {
        width: 46rem;
        font-size: 0.8rem;
    }

    .banner_features {
        font-size: 0.8rem;
    }

    .banner_icon-container {
        width: 3rem;
        height: 3rem;
        bottom: 1.75rem;
        right: 1.75rem;
        cursor: pointer;
    }

    .banner_icon-play {
        font-size: 1.4rem;
    }

    .title_cards {
        margin-top: 1rem;
        padding: 0 1.8rem;
    }

    .title_cards h4 {
        font-size: 1.1rem;
    }

    .title_cards svg {
        font-size: 1.3rem;
    }

    .title_cards p {
        font-size: .8rem;
        cursor: pointer;
    }

    .cards {
        margin-top: .5rem;
        max-height: 12rem;
        padding: 0 1.8rem;
    }

    .cards.flex-wrap {
        overflow-y: scroll;
        max-height: 12rem;
    }

    .cards::-webkit-scrollbar {
        display: none;
    }

    .card_full {
        width: 20rem;
        height: 10rem;
    }

    .card_features h5 {
        width: 12rem;
        font-size: .8rem;
    }

    .card_features .star {
        font-size: 0.8rem;
    }

    .cards.flex-wrap.cards_favorite {
        max-height: 36.6rem;
    }

    .login_container {
        margin-top: 5.5rem;
    }

    .form_container {
        width: 50%;
    }

    .login_container h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .login_container input,
    .login_container button {
        padding: 1.2rem;
    }

    .logout_container {
        margin-top: 8.5rem;
    }

    .pacman_text {
        width: 100%;
    }

    .fav_empty {
        margin-top: 18rem;
    }
}